/* Created by: Stella S
* Created on: Feb 2022
* This file defines the style for index.html
* ICS2O-Unit1-04-HTML-CSS
*/

body {
  background-color: MediumAquamarine;
}

h1 {
  background-color: rgb(250, 250, 210);
  color: hsl(17, 0%, 0%);
  padding: 10px;
  text-align: center;
}

p {
  background-color: #F08080;
  color: hsl(60, 12%, 94%);
  text-align: center;
}